@import url('https://fonts.googleapis.com/css2?family=Kufam:wght@500&display=swap');

//變數-方便全部一起修改
//主要色與次要色
$color-main: #E86895;
$color-sub: #FF1F17;
$color-white: #eee;

//文字大小:最大
$font-size-big: 36px;

//背景顏色
$color-bg-gray: #f9f9f9;

//字體
$font-family-main:"Kufam", cursive;

//RWD :桌上、平板、手機
$desktop: 1025px;
$table: 1024px;
$mobile: 767px;

//歸零重設
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 微軟正黑體;
}
//導覽列
#navigation {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 30px 120px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    align-items: center;
    position: fixed;
    width: 100%;
    background: lightpink;
   
    //平板
    @media screen and (max-width: $table) {
        //格線樣板區域 : "區域名稱"
        grid-template-areas: "logo social menu";
    }
    //手機
    @media screen and (max-width: $mobile) {
        padding: 10px 6px;
    }

    // 選單
    #menu {

        grid-area: menu;

        //桌電 : 隱藏
        @media screen and (min-width: $desktop){
            display: none;
        }
        //平板 : 顯示
        @media screen and (max-width: $table){
            display: block;
            // 左邊自動
            margin-left: auto;
        //手機
        @media screen and (max-width: $mobile) {
            width: 36px;
            }
        }
    }


    .logo {
        font-family: $font-family-main;
        font-size: 42px;
        text-decoration: none;
        transition: 0.3S;
        letter-spacing: 2px;
        grid-area: logo;

        &:hover {
            color: $color-sub;
        }
    }

    .link {

        text-align: center;

         a {
            text-decoration: none;
            padding: 30px 30px 30px 40px;
            transition: 0.3S;
            letter-spacing: 10px;

            &:hover {
                color: $color-sub;
            }
        } 

        // 平板隱藏
        @media screen and (max-width: $table){
            display: none;
        }
    }
    .social {
        text-align: right;
        grid-area: social;

        img {
            filter: invert(62%) sepia(43%) saturate(4496%) hue-rotate(308deg) brightness(88%) contrast(95%);
            transition: 0.3S;
            width: 32px;
            margin-left: 30px;

            &:hover {
                filter: invert(46%) sepia(9%) saturate(6882%) hue-rotate(208deg) brightness(100%) contrast(103%);
            }

           //手機   
            @media screen and (max-width: $mobile) {
                margin-left: 0;
            }
        }

    }
   
}

//橫幅
#banner {
    width: 100%;
    height: 100vh;
    background: #eee;
}

//關於我
#about {
    width: 100%;
    height: 100vh;
    text-align: center;

    h2 {
        font-size: 200px;
        font-family: $font-family-main;
        letter-spacing: 20px;
        padding-left: 20px;
        margin-top: 50px;

        //手機
        @media screen and (max-width: $mobile) {
            font-size: 64px;
            letter-spacing: 10px;
            padding-left: 10px;
            margin-top: 100px;
        }
    }   
}

p {
padding: 30px;
margin-bottom: 50px;

@media screen and (max-width: $mobile){
    font-size: 23px;
}
}

//標題
.title {
    font-size: $font-size-big;
    padding: 50px;
    text-align: center;
}
//按鈕-盒型
.button-box {
    padding: 20px 80px;
    border: 2px solid;
    text-decoration: none;
    transition: 0.3S;

    &:hover {
        background: $color-main;
        color: white;
    }
}

//按鈕外的區塊
.button-div {
    text-align: center;
    margin-top: 100px;
}
//作品集
#works {
    height: 100vh;
    background: $color-bg-gray;
    //手機
    @media screen and (max-width: $mobile) {
        height: 100px;
    }
        

    #work-box {
        width: 1200px;
        display: grid;
        margin: 0 auto;
        //repeat (數量，一格的寬度)
        grid-template-columns: repeat(3 ,1fr);
        grid-template-rows: repeat(2, 340px);
        //格線間隙: 上下 左右
        grid-gap: 10px 25px;

        //平板
        @media screen and (max-width: $table) {
            width: 100%;
            grid-template-columns: repeat(2, 1fr);
            padding: 0 30px;
        }

        @media scree and (max-width: $mobile) {
            grid-template-columns: repeat(1, 1fr);
        }

        .work-box-small {
            img {
                display: block;
                width: 100%;
                height: 300px;
                background: #000;
            }

            h2 {
                text-align: center;
                //變形:位移 Y軸(單位)
                transform: translateY(-30px);
            }

            span {
                display: inline-block;
                border: 1px solid #000;
                border-radius: 20px;
                padding: 5px 10px;
                margin-top: 5px;
                font-size: 12px;
            }
        }
    }
}

//頁尾
footer {
    background: lightpink;
    padding: 90px 0;
    text-align: center;

    .logo {
        font-family: $font-family-main;
        font-size: 32px;
        text-decoration: none;
        transition: 0.3S;
        letter-spacing: 2px;
    }

    link {
        a{
            text-decoration: none;
            padding: 30px;
            transition: 0.3S;

            &:hover {
                color: $color-sub;
            }
        }
    }
    .social {

        padding: 20px 0;
        img {
            filter: invert(62%) sepia(43%) saturate(4496%) hue-rotate(308deg) brightness(88%) contrast(95%);
            transition: 0.3S;
            width: 32px;
            margin-left: 30px;

            &:hover {
                transition: 0.3S;
                color: white;
            }
            }
        }
    }
   
}

#copyright {
    color: $color-white;
    font-size: 8px;
    margin-top: 50px;
}